*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* navbar  */

.navbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.navbar-links{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 10px;
    
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* navbar menubtn toggle */
.nav-toggle{
    display: none;
}

/* media query breakpoint at 900px */
@media only screen and (max-width: 968px) {

    .navbar-link{
        display: none;
    }

    .nav-toggle{
        display: inline-block;
        margin-left: 90%;
        
    }

  }

/* slider */
.container{
    padding-left: 15px;
    padding-right: 15px;
}

.slider{
    display: flex;
    overflow: hidden;
    position: relative;

}

.slider-image-container{
    display: flex;
    transition: 2s;
    /* margin-left: ; */
    /* margin left is to be manipulated using js to make the image move left and right */
}

.slider-image{
    width: 100vw;
}

.slider-left-button{
    position: absolute;
    top: 35%;
    left: 5%;
}

.slider-right-button{
    color: white;
    position: absolute;
    top: 35%;
    right: 5%;
}

.slider-left-button > i{
    font-size: 10vw;
    color: white;
}

.slider-right-button > i{
    font-size: 10vw;
    color: white;
}