*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* navbar  */

.navbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.navbar-links{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 10px;
    
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* navbar menubtn toggle */
.nav-toggle{
    display: none;
}

#nav-menu-toggle{
    font-size: 140%;
}

#nav-menu-toggle:hover{
    cursor: pointer;

}

/* sidebar toggle  */

.sidebar{
    width: 30%;
    height: 80%;
    background-color: black;
    position: absolute;
    z-index: 1;
    margin-left: -100vw;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.sidebar-content{
    margin-top: 20%;
}

.sidebar-content > a{
    text-decoration: none;
    color: yellow;
    padding: 10%;
    
}

.sidebar-content > a:hover{
    text-decoration: underline;
    
}

/* sidebar cancel button  */
#sidebar-cancel{
    color: red;
    font-size: 1.5rem;
    margin-left: 70%;
    padding: 10%;
}

#sidebar-cancel:hover{
    cursor: pointer;
}

/* media query breakpoint at 900px */
@media only screen and (max-width: 968px) {

    .navbar-link{
        display: none;
    }

    .nav-toggle{
        display: inline-block;
        margin-left: 95%;
        
    }

  }

/* slider */
.container{
    padding-left: 15px;
    padding-right: 15px;
}

.slider{
    display: flex;
    overflow: hidden;
    position: relative;

}

.slider-image-container{
    display: flex;
    transition: 2s;
    /* margin-left: ; */
    /* margin left is to be manipulated using js to make the image move left and right */
}

.slider-image{
    width: 100vw;
}

.slider-left-button{
    position: absolute;
    top: 35%;
    left: 5%;
}

.slider-left-button,.slider-right-button:hover{
    cursor: pointer;
}

.slider-right-button{
    color: white;
    position: absolute;
    top: 35%;
    right: 5%;
}

.slider-left-button > i{
    font-size: 10vw;
    color: white;
}

.slider-right-button > i{
    font-size: 10vw;
    color: white;
}

/* brands-section  */
/* ----------------------------  */
.brand-slider{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.brands-section,#most-wanted-section{
    margin-top: 1%;
    padding: 1%;
}

.brand-details{
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 5%;
}

.brand-details > img{
    width: 5vw;
    height: 10vh;
}

.brand-slider::-webkit-scrollbar{
    visibility: hidden;
}

/* most wanted section  */
/* ---------------------------------  */
.most-wanted-slider{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 1%;
    
}

.most-wanted-slider::-webkit-scrollbar{
    visibility: hidden;
}

.sale-box{
    display:inline-block;
    background-color:red;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    color:white;
    font-size:20px;
    text-align:center;
    border-radius:5px;
    position: absolute;
    bottom: 90%;
    right: 79%;
  }

.outfit-details{
    position: relative;
    text-align: center;
    margin-left: 1%;
}

.outfit-details > img{
    border-radius: 2%;
    height: 50vh;
    width: 25vw;
}

#blackHeart{
    position: absolute;
    bottom: 10%;
    left: 85%;
    width: 10%;
    height: 10%;
}

