*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h3{
    font-size: 2vw;
    padding: 1%;
}
/* navbar  */

.navbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.navbar > h2:hover{
    cursor: pointer;
}

.navbar-links{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 10px;
    
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 110%;
}

a:hover{
    text-decoration: underline;
}

/* navbar menubtn toggle */
.nav-toggle{
    display: none;
}

#nav-menu-toggle{
    font-size: 140%;
}

#nav-menu-toggle:hover{
    cursor: pointer;

}

/* sidebar toggle  */

.sidebar{
    width: 30%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
    margin-left: -100vw;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.sidebar-content{
    margin-top: 20%;
}

.sidebar-content > a{
    text-decoration: none;
    color: yellow;
    padding: 10%;
    
}

.sidebar-content > a:hover{
    text-decoration: underline;
    
}

/* sidebar cancel button  */
#sidebar-cancel{
    color: red;
    font-size: 1.5rem;
    margin-left: 70%;
    padding: 10%;
}

#sidebar-cancel:hover{
    cursor: pointer;
}

/* media query breakpoint at 900px */
@media only screen and (max-width: 968px) {

    .navbar-link{
        display: none;
    }

    .nav-toggle{
        display: inline-block;
        margin-left: 95%;
        
    }

  }

/* slider */
.container{
    padding-left: 15px;
    padding-right: 15px;
}

.slider{
    display: flex;
    overflow: hidden;
    position: relative;

}

.slider-image-container{
    display: flex;
    transition: 2s;
    /* margin-left: ; */
    /* margin left is to be manipulated using js to make the image move left and right */
}

.slider-image{
    width: 100vw;
}

.slider-left-button{
    position: absolute;
    top: 35%;
    left: 5%;
}

.slider-left-button,.slider-right-button:hover{
    cursor: pointer;
}

.slider-right-button{
    color: white;
    position: absolute;
    top: 35%;
    right: 5%;
}

.slider-left-button > i{
    font-size: 10vw;
    color: white;
}

.slider-right-button > i{
    font-size: 10vw;
    color: white;
}

/* CSS button */
#shopNow{
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#shopNow:hover,
#shopNow:active {
  background-color: initial;
  background-position: 0 0;
  color: #ffffff;
}

#shopNow:active {
  opacity: .5;
}

.slider-content{
    position: absolute;
    top: 18%;
    width: 100%;
    text-align: center;
    color: white;
}

.slider-content > h1{
    font-size: 4vw;
    color: white;
}

#shopNow{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

#shopNow:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* brands-section  */
/* ----------------------------  */
.brand-slider{
    display: flex;
    margin-top: 2vw;
    justify-content: space-between;
    overflow-x: scroll;
}

.brand-details > img{
    width: 5vw;
    align-items: center;
}

.brand-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    text-align: center;
    margin-left: 5vw;
}

.brand-slider::-webkit-scrollbar{
    visibility: hidden;
}

.brands-section,#most-wanted-section,.new-arrivals-section{
    margin-top: 1%;
    padding: 1%;
}

@media only screen and (max-width: 1000px) {

    h3{
        font-size: 3vw;
        padding: 1%;
    }

}

/* new arrivals section */
/* --------------------------------  */
.new-arrivals-slider{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 2vw;
    overflow-y: hidden;
    overflow-x: scroll;
}

.new-arrivals-slider::-webkit-scrollbar{
    appearance: none;
}

.item-details > img{
    width: 25vw;
}

#shopBtn{
    background: grey;
    border: 1px solid #ffffff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

  }
  
  #shopBtn:hover,
  #shopBtn:active {
    background-color: red;
    background-position: 0 0;
    color: white;
  }
  
  #shopBtn:active {
    opacity: .5;
  }

/* most wanted section  */
/* ---------------------------------  */
.most-wanted-slider{
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 2vw;
    gap: 20px;
    
}

.most-wanted-slider::-webkit-scrollbar{
    visibility: hidden;
}

.sale-box{
    position: absolute;
    top:3px;
    left: 3px;
    font-size: 2vw;
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
  }

.outfit-details{
    position: relative;
    text-align: center;
    margin-left: 1%;
}

.outfit-details > img{
    border-radius: 2%;
    width: 25vw;
}

#blackHeart{
    position: absolute;
    bottom: 10%;
    left: 85%;
    width: 10%;
    height: 10%;
}

#blackHeart:hover{
    cursor: pointer;
}